$border-color-secondary: #EAECF0;
$shadow-color: #1018280D;


@media screen and (min-width: 768px) {
  .box-tasks {
    width: 450px;
    max-height: 900px;

    &__todo {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.25rem;
    }
  
    &__done {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.25rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .box-tasks {
    max-height: 400px;

    &__todo {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1.25rem;
    }
  
    &__done {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1.25rem;
    }
  }
}

.box-tasks {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color-secondary;
  border-radius: 1rem;
  padding: 2rem 2rem 1rem 2rem;
  box-shadow: 0px 1px 2px 0px $shadow-color;
  overflow-y: auto;

  h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    opacity: 54%;
  }
}